* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: transparent;
}

body {
	color: black;
	min-height: 100vh;
}

.main-app-nav {
	padding: 20px;
	align-items: center;
	color: black;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	form {
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		> * {
			flex: 0 1 100px;
		}
		gap: 10px;
		display: flex;
		flex: 1 1 10%;
		label {
			text-align: center;
			font-weight: bold;
		}
		input {
			padding: 5px 5px;
			flex: 1 1 0;
			background-color: transparent;
			border: 1px black dashed;
			background-color: white;
			color: black;
			border-radius: 5px;
			&:hover {
				background-color: lightgray;
			}
		}
	}
	button {
		align-items: center;
		padding: 5px 10px;
		display: flex;
		gap: 10px;
		background-color: white;
		color: black;
		border-radius: 5px;
		border: black 1px solid;
		text-align: center;
		cursor: pointer;
		&:hover {
			color: blue;
			background-color: lightgray;
		}
		&:active {
			transform: scale(0.95);
		}
	}
}

.main-lists-container {
	gap: 10px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	> * {
		flex: 1 1 400px;
	}
	max-width: 1200px;
	margin: auto;
}

.list-container {
	input {
		&:hover {
			background-color: lightgray;
		}
	}
	&:hover {
		.delete-list-button {
			opacity: 1;
		}
	}
	* {
		border-radius: 5px;
	}
	button {
		cursor: pointer;
		&:hover {
			color: blue;
			background-color: lightgray;
			opacity: 0.8;
		}
	}
	.delete-list-button {
		opacity: 0;
		padding: 10px;
		font-size: 20px;
		border-radius: 50px;
		transition: 0.2s;
		&:hover {
			outline: 1px gray solid;
		}
	}
	background-color: white;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 20px;
	header {
		display: flex;
		gap: 10px;
		justify-content: flex-start;
		padding: 10px;
		align-items: center;
	}
	.list-nav {
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: center;
		gap: 10px;
		* {
			flex: 1 1 0;
			border: black 1px solid;
			padding: 10px;
			font-size: 1rem;
		}
	}
}

.list-entry {
	&:only-child {
		.up-down-container {
			display: none !important;
		}
	}
	.edit-mode {
		width: 100%;
		display: flex;
		gap: 5px;
		input {
			font-size: 1rem;
			flex-basis: 100%;
			padding: 0 10px;
			outline: rgba(0, 0, 0, 0.5) 1px dashed;
		}
	}
	.entry-edit-button {
		&:hover {
			outline: 1px gray solid;
		}
	}
	margin: 5px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px black solid;
	border-radius: 0;
	padding-bottom: 5px;
	&:hover {
		.list-entry-buttons,
		.edit-mode-buttons {
			opacity: 1;
		}
	}
	.list-entry-buttons,
	.edit-mode-buttons {
		opacity: 0.1;
		transition: 0.1s;
		button {
			font-size: 20px;
			padding: 5px 10px;
			border-radius: 50px;
		}
		display: flex;
		gap: 5px;
		.up-down-container {
			order: 5;
			&:hover {
				outline: 1px gray solid;
			}
			display: flex;
			flex-direction: column;
			border-radius: 50px;
			overflow: hidden;
			button {
				border-radius: 0;
			}
		}
		.delete-entry-button {
			&:hover {
				outline: 1px gray solid;
			}
		}
	}
	.user-entry-text {
		flex: 1 1 100%;
	}
}

.my-typical-footer {
	background-color: white;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	h2 {
		text-align: center;
		font-size: 1.2rem;
	}
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		a {
			color: black;
			display: inline-block;
			padding: 5px 10px;
			border-radius: 5px;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.05);
				background-color: lightgray;
				color: white;
			}
			margin: 0 5px;
		}
	}
}

@media (max-width: 500px) {
	.main-app-nav {
		flex-wrap: wrap;
		* {
			flex: 1 1 400px !important;
		}
		input,
		button {
			padding: 10px 10px !important;
		}
		form {
			> * {
				flex: 1 1 0 !important;
			}
		}
	}
}
